<p>Description: <%= @activity.description %></p>
<p>Additional Info: <%= @activity.additional_info %></p>
<p>Group: <%= @activity.group.name %></p>
<p>Location: <%= @activity.location %></p>
<p>Distance: <%= @activity.distance %></p>
<p>Intensity: <%= @activity.additional_info %></p>